body {
	font-size:12px;
	line-height:20px;
	text-align:center;
	background:#666 url();
	color:#333
}

* {
	padding:0px;
	margin:0px;
}

li{
	list-style-type: none;
}

a { 
	text-decoration:none; color:#333
}

a:hover { 
	text-decoration: underline
}

p {
	text-indent: 25px;
}

.left { 
	float:left 
}

.right { 
	float:right 
}

.clean {	clear:both;
}

.top1 {
	margin:10px 0px 0px 0px;
}

.font_b{ 
	font-weight: bold;
}
.font_white {
	color: #FFF;
}

.font_white a{
	color: #FFF;
}

.font_orange,.font_orange a,a.font_orange{
	color: #c64e02;
}

.font_orange3,.font_orange3 a{
	color: #ffe3bc;
}

.font_orange4{
	color: #ffe3bc;
}

.font_orange4 a{
	color: #FFCF8E;
}

.font_gray{
	color: #333;
}

.padleft_25 { 
	padding-left:25px;
}

.padleft_10 { 
	padding-left:10px;
}

.inbox {
	margin: 5px;
}

#page {
	text-align:left;
	background:#373737;
	padding:5px;
}

#container {
	margin:0 auto;
	width:990px;
}

#main #content {
	background: url() repeat-y;
	width:710px;
	margin: 5px 0px ;
}

.left_title {
	background: url(f_01.jpg) no-repeat;
	width:431px;
	height:24px;
	line-height:24px;
	margin-left:5px
}

.left_text p { 
	width:290px
}

.mid_title {
	background: url(f_06.jpg) no-repeat;
	width:260px;
	height:24px;
	line-height:24px;
}

.boxoffline {
	border-bottom: 1px dashed #999;
}

#main #siderbar {
	background-color: #373737;
	margin:  5px 0px;
	width: 270px;
}

.right_title {
	background: url(f_07.jpg) no-repeat;
	width:245px;
	height:21px;
	line-height:21px;
	padding:0px 5px 0px 10px;
	margin:0 0 0 5px;
}

.siderbox_top {
	background:url() no-repeat;
	width:260px;
	height:5px;
	overflow: hidden;
}

.siderbox{
	width:255px;
	background: url();
	padding:0px 2px 0px 3px;
}

.siderbox td {
	text-align: center
}

#link {
	height:20px;
	background: #454545;
	color:#b9b9b9;
	padding:15px 10px
}

#link a{
	color:#b9b9b9; margin:0 5px;
}


.siderbox_bottom {
	width:260px;
	height:5px;
	overflow: hidden;
	background: url() no-repeat;
}

.right_box {
	margin:5px;
}

#menu {
	background-image: url();
	background-repeat: repeat;
	height: 35px;
	width: 980px;
	margin:0px;
	padding:0px;
}

a.nav:link,a.nav:visited,a.nav:hover,a.nav:active{
	display:block;
	padding:0px 18px;
	line-height:35px;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	background: url() right top;
	text-decoration: none;
	float:left;
}

a.nav:hover {
	background: url() right bottom;
	text-decoration: none;
}

.footer {
	color: #999;
	margin: 25px auto;
	text-align: center;
}

.footer a{
	color: #999;
	text-decoration:none
}

.footer a:hover{
	color: #777;
	text-decoration:underline
}

#left_content {
	background-color: white;
	width: 440px;
}

#mid_content {
	width: 270px;
	background-color: #fadab3;
	overflow:hidden
}

#mid_content table.font_orange {
	width:250px
}

#mid_content table.font_orange td { 
	width:120px; 
	overflow:hidden; 
	word-break:break-all;
	white-space: -moz-pre-wrap; 
	padding:5px 2px 0; 
	vertical-align:top
}

#mid_content table.font_orange td img { 
	height:70px; 
	width:120px; 
	border:1px solid #666
}

#mid_content table.font_orange td a {
	width:120px; 
	overflow:hidden
}

.tab {
	margin:0 0 0 4px
}

.tab a {
	padding: 4px 10px;
	font-size: 13px;
	text-decoration: none;
	color: #fff;
}

.tab a:hover {
	color: #c64e02; 
	cursor:pointer
}

#roll {
	background-color: #FFF;
	padding: 2px;
}

.text_left td { 
	text-align:left; 
	padding-left:10px
}

body{
	margin:0;
	padding:0;
}

#menu{
	width:980px; 
	margin:0; 
	padding:0; 
	height:26px; 
	background:url() repeat-x;
	font-size:14px;
}

#menu_left{
	float:left;
	width:800px;
}

.nav{
	margin:0 0 0 10px;
}

#nav_left{
	float:left;
	width:510px;
}

#nav_right{
	float:right;
	width:270px;
}

#menu_right{
	float:right;
	width:170px;
	background:url() repeat-x;
}

ul.top{margin:0;
	padding:0;
	list-style:none;
	height:26px;
}

ul.top li{
	float:left;
}

ul.top li a{
	color:#fff;
	text-decoration:none;
	padding:0 12px;
	line-height:26px;
	display:inline-block;
}

ul.top li a:hover{
	background:url() repeat-x;
}

ul.top li ul{
	display: none;
}

ul.top li:hover ul{ 
	display:block;
	z-index:99; 
	position:absolute;
	top:26px;
	left:650px; 
	width:120px; 
	list-style:none;
}

ul.top li:hover ul li{
	display:block;
	width:120px;
	height:24px; 
	background:#f0f0f0;
	color:#000;
	font-size:12px;
	margin:0 0 1px 0;
}

ul.top li:hover ul li a{
	color:#000;
}


ul.top li:hover ul li a:hover{
	background:#F5DDD0;
	color:#000; 
	width:96px;
}

#clear{
	clear:both;
}

.siderbox{ 
	background:#666666;
}

#deadtime{ 
	color:#FFFFFF; 
	line-height:12px;
}

.puma_con{ 
	width:255px; 
	padding-left:5px;
}

.right_box_puma{ 
	padding:0 5px 5px; 
	background:#666666; 
	width:250px;
}

.puma_center{ 
	text-align:center; 
	color:#FFFFFF;
}

.siderbox_top2{ 
	background:url() no-repeat; 
	height:38px;
	width:250px;
}

.img_puma{ 
	background:url() no-repeat;
	height:125px;
	padding-bottom:5px;
}

.puma_bottom{
	background:#181818; 
	padding:5px 10px; 
	width:240px;
}

.puma_bottom a{ 
	color:#fff
}
